body {
  margin: 0;
  height: 3000px;
  font-family: Roboto, Arial;
  max-width: 1300px;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 275px auto 300px;
}

@media (max-width: 1290px) {
  .container {
    grid-template-columns: 95px auto 300px;
  }
}
