body {
margin: 0;
padding-left: 450px;
padding-right: 350px;
height: 3000px;

font-family: Arial, Roboto;

}

.container {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 1fr 2fr 1fr; 
}



